In [1]:
import pandas as pd


# df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: ("".join(x.split(","))).strip())
# df.loc[df.funding_total_usd == '-', 'raised_amount_usd'] = None
# df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

In [2]:
def split_backslash(x):
    try:
        return str(x).split("/")[1].strip()
    except:
        return x

In [3]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
df.head()

/Users/carlo_liquido/anaconda/envs/python2/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,...,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/organization/myandb,Myandb,|Music|,Music,KOR,NaN,Seoul,Seoul,NaN,NaN,...,NaN,NaN,/funding-round/44e67390e03dde5358c65c353318bc20,undisclosed,NaN,05/31/2013 00:00,2013-05,2013-Q2,2013,"30,968"
1,/organization/goldpocket-interactive,Goldpocket Interactive,|Television|Software|,Software,USA,CA,Los Angeles,Los Angeles,NaN,NaN,...,NaN,NaN,/funding-round/fe5ce7fc6e13da8ca7883dd1482e7a97,venture,B,03/30/2000 00:00,2000-03,2000-Q1,2000,"43,000,000"
2,/organization/weatlas,Weatlas,|Online Reservations|Travel|Curated Web|,Curated Web,RUS,NaN,Moscow,Moscow,NaN,NaN,...,NaN,NaN,/funding-round/30dd0516a92121d56f0066ce21852a03,seed,NaN,08/06/2014 00:00,2014-08,2014-Q3,2014,"600,000"
3,/organization/crowdzu,Crowdzu,|Video|Fashion|Music|Photography|Design|Market...,Fashion,USA,NY,New York City,New York,NaN,NaN,...,NaN,NaN,/funding-round/844c7d9fcf46a6c7b0098835b321866e,seed,NaN,11/18/2013 00:00,2013-11,2013-Q4,2013,"35,000"
4,/organization/liv-blends,LivBlends,|Health and Wellness|,Health and Wellness,USA,CA,SF Bay Area,San Francisco,NaN,NaN,...,NaN,NaN,/funding-round/becc766c1087d5449d549931e416f1ba,seed,NaN,05/28/2014 00:00,2014-05,2014-Q2,2014,"745,000"

In [4]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
# df = df[df['funded_year']==2013]
# df['investor_permalink'] = df['investor_permalink'].apply(lambda x: split_backslash(x))
# df = df.loc[df['investor_permalink']=='list_unicornsorganization'] # change to person!!!!!!!

# from 20179 to 17617 for raised_amount_usd
df = df.loc[df["raised_amount_usd"].notnull()]
df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: "".join(x.split(",")).strip())
df.loc[df.raised_amount_usd == '-', 'raised_amount_usd'] = None

df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

# # all present for funding_round_type
# df = df.loc[df["funding_round_type"].notnull()]
# # from 17617 to 16553 for company_country_code
df = df.loc[df["investor_country_code"].notnull()]
df = df.loc[df["investor_city"].notnull()]
df = df.loc[df["company_city"].notnull()]
df = df.loc[df["company_country_code"].notnull()]

In [5]:
df.head()

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,...,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
9,/organization/copatient,CoPatient,|Heathcare|Enterprise Software|,Enterprise Software,USA,OR,"Portland, ME",Portland,/organization/406-ventures,.406 Ventures,...,Boston,Boston,/funding-round/2c1aa2ba3d255e2a4bf9247cb4108f64,venture,A,06/25/2014 00:00,2014-06,2014-Q2,2014,3600000
10,/organization/onapsis,Onapsis Inc.,|Security|,Security,USA,MA,Boston,Cambridge,/organization/406-ventures,.406 Ventures,...,Boston,Boston,/funding-round/091ada59af554599502ea84f7b0830d4,venture,NaN,06/17/2014 00:00,2014-06,2014-Q2,2014,9600000
11,/organization/cloudhealth-technologies,CloudHealth Technologies,|Software|,Software,USA,MA,Boston,Boston,/organization/406-ventures,.406 Ventures,...,Boston,Boston,/funding-round/7b187d85ddabe43a1edcd46f04ff4e28,venture,A,06/17/2014 00:00,2014-06,2014-Q2,2014,3200000
12,/organization/urban-compass,Urban Compass,|Real Estate|Mobile|Local|Curated Web|,Local,USA,NY,New York City,New York,/organization/406-ventures,.406 Ventures,...,Boston,Boston,/funding-round/c8105ddec08afa6bfb44b68caadace97,venture,B,07/21/2014 00:00,2014-07,2014-Q3,2014,40000000
13,/organization/abilto,AbilTo,|Teachers|Health and Wellness|VoIP|Technology|...,Health and Wellness,USA,NY,New York City,New York,/organization/406-ventures,.406 Ventures,...,Boston,Boston,/funding-round/8a033677a77513a346ecf039483622be,venture,a,05/14/2013 00:00,2013-05,2013-Q2,2013,3000000

In [6]:
df.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [7]:
subset_df = df[["company_name", "company_country_code", "company_city", "company_state_code",
                "investor_name","investor_country_code","investor_city", "investor_state_code",
                "funded_month","funded_year","raised_amount_usd"]]

In [8]:
years_wanted = [2004,2005,2006,2007,2008,2009,2010,2011,2012,2013]

In [9]:
# top25 = ["E-Commerce","Advertising","Software","Storage","Clean Technology","Communities","File Sharing","Technology","Online Shopping","Curated Web","Enterprise Software","Design","Games","Cloud Computing","Shopping","Entertainment","Transportation","Security","Data Security","Peer-to-Peer","Mobile Payments","Search","Fashion","Facebook Applications","Finance Technology","Consumer Electronics","Analytics","Privacy","Mobile Games","News","Hardware + Software","Retail","Mobile","Location Based Services","Biotechnology"]
# subset_df = subset_df[add_unicorns["company_market"].isin(top25)]

In [10]:
subset_df = subset_df.loc[subset_df['funded_year'].isin(years_wanted)]
# subset_df = subset_df[subset_df['funded_year']>=2004 and subset_df['funded_year']>=2013]

In [11]:
subset_df.head()

,company_name,company_country_code,company_city,company_state_code,investor_name,investor_country_code,investor_city,investor_state_code,funded_month,funded_year,raised_amount_usd
13,AbilTo,USA,New York,NY,.406 Ventures,USA,Boston,MA,2013-05,2013,3000000
15,Urban Compass,USA,New York,NY,.406 Ventures,USA,Boston,MA,2012-12,2012,8000000
16,MineralTree,USA,Cambridge,MA,.406 Ventures,USA,Boston,MA,2012-06,2012,6300000
17,Connotate,USA,New Brunswick,NJ,.406 Ventures,USA,Boston,MA,2012-04,2012,7000000
18,Bit9,USA,Waltham,MA,.406 Ventures,USA,Boston,MA,2007-10,2007,10000000

In [36]:
# cum_df = subset_df.copy()
# cum_df = cum_df.sort(['funded_month','investor_country_code','company_country_code'], ascending=[1,1,1])
# cum_df['no_cumulative'] = cum_df.groupby(['funded_month','investor_country_code','company_country_code'])['raised_amount_usd'].apply(lambda x: x.cumsum())
# cum_df = cum_df.drop_duplicates(['funded_month','investor_country_code','company_country_code'], take_last=True)
# cum_df = cum_df[['funded_month','investor_country_code','company_country_code','funded_year','raised_amount_usd','no_cumulative']]
# cum_df = cum_df.sort(['funded_month'], ascending=[1])
# cum_df[:20]

# subset_df.groupby(['funded_month','investor_country_code','company_country_code']).sum().groupby(level=[0]).cumsum()
country_grouped = subset_df.groupby(['funded_month','investor_country_code','company_country_code']).sum().reset_index()[['funded_month','investor_country_code','company_country_code',"raised_amount_usd"]]

In [37]:
country_grouped = country_grouped.sort(['funded_month','investor_country_code','company_country_code'], ascending=[1,1,1])
country_grouped['no_cumulative'] = country_grouped.groupby(['investor_country_code','company_country_code'])['raised_amount_usd'].apply(lambda x: x.cumsum())
country_grouped[:20]

,funded_month,investor_country_code,company_country_code,raised_amount_usd,no_cumulative
0,2004-01,CAN,USA,27600000,27600000
1,2004-01,CHE,USA,12000000,12000000
2,2004-01,CHN,CHN,2500000,2500000
3,2004-01,DEU,DEU,16583160,16583160
4,2004-01,DEU,USA,13000000,13000000
5,2004-01,ESP,SGP,25000,25000
6,2004-01,FIN,USA,1800000,1800000
7,2004-01,GBR,DEU,5527720,5527720
8,2004-01,GBR,GBR,27622168,27622168
9,2004-01,GBR,USA,75469109,75469109
10,2004-01,USA,SGP,22000000,22000000
11,2004-01,USA,USA,594000000,594000000
12,2004-02,CHN,CHN,164000000,166500000
13,2004-02,ISR,USA,15000000,15000000
14,2004-02,USA,CHN,164000000,164000000
15,2004-02,USA,USA,73900000,667900000
16,2004-03,CAN,USA,5500000,33100000
17,2004-03,CHE,LUX,18800000,18800000
18,2004-03,CHE,USA,6000000,18000000
19,2004-03,CHN,CHN,7500000,174000000

In [38]:
country_grouped.shape

(7284, 5)

In [39]:
# country_grouped['_unique'] = country_grouped['funded_month'].apply(lambda x: )
country_grouped["_unique"] = country_grouped["funded_month"].map(str) + "_" + country_grouped["investor_country_code"]
country_grouped.head()

,funded_month,investor_country_code,company_country_code,raised_amount_usd,no_cumulative,_unique
0,2004-01,CAN,USA,27600000,27600000,2004-01_CAN
1,2004-01,CHE,USA,12000000,12000000,2004-01_CHE
2,2004-01,CHN,CHN,2500000,2500000,2004-01_CHN
3,2004-01,DEU,DEU,16583160,16583160,2004-01_DEU
4,2004-01,DEU,USA,13000000,13000000,2004-01_DEU

In [46]:
print(list(set(country_grouped["investor_country_code"])))

['QAT', 'GRC', 'NGA', 'USA', 'LUX', 'ISR', 'CYP', 'TWN', 'DEU', 'LKA', 'BGR', 'MEX', 'GBR', 'CAN', 'ISL', 'EGY', 'KOR', 'COL', 'SVK', 'JOR', 'PAK', 'BEL', 'SGP', 'HUN', 'ARE', 'AZE', 'KHM', 'PRT', 'POL', 'TTO', 'NLD', 'BMU', 'LBN', 'HKG', 'CYM', 'KWT', 'SAU', 'FRA', 'EST', 'CHE', 'LTU', 'ESP', 'SWE', 'HRV', 'CHL', 'CHN', 'UKR', 'ROM', 'AUS', 'LVA', 'IRL', 'DNK', 'MUS', 'FIN', 'THA', 'NZL', 'KEN', 'JPN', 'GHA', 'TUR', 'PHL', 'ITA', 'BRA', 'CZE', 'ARG', 'IND', 'RUS', 'BHS', 'BHR', 'SVN', 'MYS', 'NOR', 'AUT']

In [59]:
topcountries = country_grouped[country_grouped['funded_month']=="2013-12"]
topcountries = topcountries.groupby(['investor_country_code']).sum().reset_index()[['investor_country_code',"no_cumulative"]]
print(list(topcountries.sort(['no_cumulative'], ascending=[0])['investor_country_code'][:15]))
# topcountries['no_cumulative'] = topcountries.groupby(['investor_country_code'])['no_cumulative'].apply(lambda x: x.cumsum())
# topcountries.sort(['no_cumulative','investor_country_code','company_country_code'], ascending=[1,1,1])
max(country_grouped["no_cumulative"])

['USA', 'GBR', 'CAN', 'CHN', 'DEU', 'ISR', 'FRA', 'CHE', 'JPN', 'RUS', 'SGP', 'HKG', 'IND', 'AUS', 'SWE']

584907971270.0

In [40]:
# country_wide = country_grouped.pivot(index='_unique', columns='company_country_code', values='raised_amount_usd')
country_wide = country_grouped.pivot(index='_unique', columns='company_country_code', values='no_cumulative')
country_wide = country_wide.fillna(0)

In [41]:
# country_wide.to_csv("country-stacked-presplit.csv")

In [42]:
country_wide.head()

company_country_code,ARE,ARG,ARM,AUS,AUT,AZE,BEL,BGD,BGR,BMU,...,SLV,SRB,SVK,SVN,SWE,THA,TUR,TWN,UKR,USA
_unique,,,,,,,,,,,,,,,,,,,,,
2004-01_CAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27600000
2004-01_CHE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12000000
2004-01_CHN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2004-01_DEU,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13000000
2004-01_ESP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
country_wide.to_csv("country-summed-stacked-presplit.csv")