In [1]:
import pandas as pd


# df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: ("".join(x.split(","))).strip())
# df.loc[df.funding_total_usd == '-', 'raised_amount_usd'] = None
# df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

In [2]:
def split_backslash(x):
    try:
        return str(x).split("/")[1].strip()
    except:
        return x

In [2]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
# df = df[df['funded_year']==2013]
df['investor_permalink'] = df['investor_permalink'].apply(lambda x: split_backslash(x))
df = df.loc[df['investor_permalink']=='organization'] # change to person!!!!!!!

# from 20179 to 17617 for raised_amount_usd
df = df.loc[df["raised_amount_usd"].notnull()]
df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: "".join(x.split(",")).strip())
df.loc[df.raised_amount_usd == '-', 'raised_amount_usd'] = None

df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

# # all present for funding_round_type
# df = df.loc[df["funding_round_type"].notnull()]
# # from 17617 to 16553 for company_country_code
df = df.loc[df["investor_country_code"].notnull()]
df = df.loc[df["company_country_code"].notnull()]

//anaconda/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NameError: global name 'split_backslash' is not defined

In [4]:
df.shape

(67808, 24)

In [5]:
df.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [6]:
subset_df = df[["company_name", "company_country_code", "company_city",
                "investor_name","investor_country_code","investor_city",
                "funded_month","funded_year","raised_amount_usd"]]

In [7]:
years_wanted = [2004,2005,2006,2007,2008,2009,2010,2011,2012,2013]

In [8]:
subset_df = subset_df.loc[subset_df['funded_year'].isin(years_wanted)]
# subset_df = subset_df[subset_df['funded_year']>=2004 and subset_df['funded_year']>=2013]

In [9]:
subset_df.head()

,company_name,company_country_code,company_city,investor_name,investor_country_code,investor_city,funded_month,funded_year,raised_amount_usd
13,AbilTo,USA,New York,.406 Ventures,USA,Boston,2013-05,2013,3000000
15,Urban Compass,USA,New York,.406 Ventures,USA,Boston,2012-12,2012,8000000
16,MineralTree,USA,Cambridge,.406 Ventures,USA,Boston,2012-06,2012,6300000
17,Connotate,USA,New Brunswick,.406 Ventures,USA,Boston,2012-04,2012,7000000
18,Bit9,USA,Waltham,.406 Ventures,USA,Boston,2007-10,2007,10000000

In [10]:
subset_df.shape

(58797, 9)

In [11]:
# subset_df.to_csv("aggregated-investments-maptime.csv", index=False)

In [12]:
unique_date = set(subset_df['funded_month'])

In [13]:
len(unique_date)

120

In [14]:
# agg_df = subset_df[['company_city','funded_month']].groupby(["company_city"]).agg(['count']).reset_index()

In [8]:
df = pd.read_csv("../convert_data/investor_city_rounds.csv")

In [10]:
df

      investor_city funded_month
0            Boston      2013-05
1            Boston      2012-12
2            Boston      2012-06
3            Boston      2012-04
4            Boston      2007-10
5            Boston      2013-03
6            Boston      2010-02
7            Boston      2013-04
8            Boston      2009-08
9            Boston      2008-06
10           Boston      2013-06
11           Boston      2013-09
12           Boston      2010-08
13           Boston      2010-06
14           Boston      2007-01
15           Boston      2007-05
16           Boston      2008-05
17           Boston      2013-10
18           Boston      2008-10
19           Boston      2007-06
20           Boston      2011-08
21           Boston      2008-06
22           Boston      2007-01
23           Boston      2009-01
24           Boston      2011-11
25           Boston      2012-02
26           Boston      2011-04
27           Boston      2013-07
28           Boston      2008-11
29           Boston      2008-11
...             ...          ...
58767     Princeton      2010-09
58768     Princeton      2006-05
58769     Princeton      2007-02
58770    Menlo Park      2005-05
58771    Menlo Park      2004-01
58772    Menlo Park      2008-02
58773    Menlo Park      2004-05
58774    Menlo Park      2009-11
58775    Menlo Park      2008-11
58776    Menlo Park      2006-08
58777    Menlo Park      2005-11
58778    Menlo Park      2008-05
58779    Menlo Park      2007-10
58780    Menlo Park      2005-03
58781    Menlo Park      2006-08
58782        London      2010-07
58783        London      2008-08
58784        London      2008-07
58785        London      2013-09
58786        London      2008-06
58787        London      2011-11
58788       Deutsch      2006-11
58789       Seattle      2012-12
58790       Seattle      2012-11
58791    San Rafael      2013-10
58792    San Rafael      2011-12
58793    San Rafael      2010-12
58794    San Rafael      2012-02
58795    San Rafael      2010-04
58796      New York      2013-08

[58797 rows x 2 columns]

In [12]:
df_group = df.groupby(['investor_city','funded_month']).size().reset_index(name="Count").sort(['Count'], ascending=[1])

/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [46]:
city_month = subset_df[['company_city','funded_month']]
city_month.groupby(['company_city','funded_month']).size().reset_index(name="Count").sort(['Count'], ascending=[1])
# city_month.loc[city_month['company_city'].isin(['New York'])]
# subset_df.loc[subset_df['funded_year'].isin(years_wanted)]

               company_city funded_month  Count
0                    Aachen      2006-07      1
6628           Macclesfield      2013-02      1
6627           Macclesfield      2012-07      1
6626           Macclesfield      2012-04      1
6624                   Lyss      2009-07      1
6622           Lyon Station      2009-09      1
6618                   Lyon      2011-02      1
6616                   Lyon      2010-05      1
6615                   Lyon      2010-01      1
6611                   Lyon      2005-11      1
6610                 Lyngby      2013-05      1
6607                 Lyngby      2009-02      1
6629              Macedonia      2010-03      1
6606                 Lyngby      2007-08      1
6598              Luxemburg      2012-08      1
6595   Lutherville Timonium      2011-01      1
6591                   Lund      2013-06      1
6589                   Lund      2011-11      1
6588                   Lund      2011-09      1
6584                   Lund      2010-02      1
6582                   Lund      2009-09      1
6580                   Lund      2008-07      1
6579                   Lund      2007-07      1
6573                   Lund      2005-10      1
6567                 Lugano      2012-08      1
6605                 Lyngby      2007-04      1
6630              Macedonia      2010-10      1
6634                Madison      2007-01      1
6638                Madison      2008-02      1
6718                   Maia      2007-01      1
...                     ...          ...    ...
10605         San Francisco      2012-08     88
10609         San Francisco      2012-12     88
10589         San Francisco      2011-04     89
10587         San Francisco      2011-02     90
8164               New York      2013-12     91
8137               New York      2011-09     92
10608         San Francisco      2012-11     95
8136               New York      2011-08    103
8159               New York      2013-07    108
10620         San Francisco      2013-11    110
8162               New York      2013-10    118
10611         San Francisco      2013-02    118
10594         San Francisco      2011-09    122
10601         San Francisco      2012-04    125
10613         San Francisco      2013-04    129
10590         San Francisco      2011-05    133
10610         San Francisco      2013-01    134
10602         San Francisco      2012-05    136
10617         San Francisco      2013-08    136
10614         San Francisco      2013-05    138
10604         San Francisco      2012-07    142
10615         San Francisco      2013-06    143
10621         San Francisco      2013-12    146
10603         San Francisco      2012-06    149
10612         San Francisco      2013-03    150
10616         San Francisco      2013-07    151
10598         San Francisco      2012-01    158
10619         San Francisco      2013-10    166
10607         San Francisco      2012-10    172
10618         San Francisco      2013-09    202

[13744 rows x 3 columns]

In [15]:
df_group.to_csv("investor_city_rounds.csv", sep='\t')