In [1]:
import pandas as pd

In [2]:
_df = pd.read_csv("YEAR-country-summed-stacked-split.csv")

In [3]:
_df.shape

(473, 80)

In [4]:
_df[_df['Investor']=="USA"]

,Date,Investor,ARE,ARG,ARM,AUS,AUT,AZE,BEL,BGD,...,SLV,SRB,SVK,SVN,SWE,THA,TUR,TWN,UKR,USA
19,2004,USA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.593895e+09
59,2005,USA,0,0,0,22000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.488780e+10
106,2006,USA,0,0,0,32800000,0,0,27750530,0,...,0,0,0,0,14320000,0,0,0,0,7.475458e+10
155,2007,USA,0,0,0,37700000,10227900,0,101479930,0,...,0,0,0,0,28320000,0,0,65000000,0,1.270000e+11
204,2008,USA,215000000,27300000,0,55410000,0,0,109190320,25000,...,200000,0,0,0,74520000,0,0,0,0,2.010000e+11
253,2009,USA,0,29894083,0,0,0,0,184204650,0,...,0,0,0,0,139720000,0,0,0,0,2.590000e+11
306,2010,USA,227000000,143894083,0,142710000,22707900,0,187904650,2025000,...,0,0,0,0,288173404,0,9079440,0,0,3.150000e+11
359,2011,USA,257000000,176084083,0,252610000,117926400,0,0,14025000,...,0,1300000,0,0,652373404,0,140529440,75026823,0,4.050000e+11
415,2012,USA,297000000,245034083,0,265965651,120515977,0,239451800,0,...,0,0,0,0,1194989404,0,207559440,81126823,4500000,4.870000e+11
472,2013,USA,311360000,303631583,0,1066422980,237734577,10000,0,74025000,...,0,0,0,0,1532389404,500000,282559440,0,0,5.850000e+11

In [5]:
agg_df = _df.groupby(["Investor"]).sum().reset_index()

In [6]:
agg_df.shape

(73, 80)

In [7]:
agg_df = agg_df.drop('Date', 1)

In [8]:
agg_df.head()

,Investor,ARE,ARG,ARM,AUS,AUT,AZE,BEL,BGD,BGR,...,SLV,SRB,SVK,SVN,SWE,THA,TUR,TWN,UKR,USA
0,ARE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,270000000
1,ARG,0,49205000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,296583470
2,AUS,0,0,0,1292844269,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8116763631
3,AUT,0,0,0,0,369592556,0,0,0,0,...,0,0,0,0,0,0,1801240,0,0,40608000
4,AZE,0,0,0,0,0,100000,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
agg_df[agg_df['Investor']=="USA"]

,Investor,ARE,ARG,ARM,AUS,AUT,AZE,BEL,BGD,BGR,...,SLV,SRB,SVK,SVN,SWE,THA,TUR,TWN,UKR,USA
72,USA,1307360000,925837915,0,1875618631,509112754,10000,849981880,90100000,2000000,...,200000,1300000,0,0,3924805616,500000,639727760,221153646,4500000,2.492236e+12

In [10]:
keep_countries = ['USA', 'GBR', 'CAN', 'CHN', 'DEU', 'ISR', 'FRA', 'CHE', 'JPN', 'RUS']
subset_df = agg_df[agg_df['Investor'].isin(keep_countries)]

In [11]:
subset_df

,Investor,ARE,ARG,ARM,AUS,AUT,AZE,BEL,BGD,BGR,...,SLV,SRB,SVK,SVN,SWE,THA,TUR,TWN,UKR,USA
11,CAN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1140470000,0,0,3.047767e+10
12,CHE,0,0,18787500,0,69732000,0,435136000,0,2000000,...,0,0,0,0,115644240,0,1000000,0,0,2.707239e+10
14,CHN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,12701285,0,75000000,0,9.103530e+09
19,DEU,0,0,0,24900000,385672927,0,77782120,0,0,...,0,0,0,0,499872828,0,679450,0,0,3.224690e+10
25,FRA,0,150000,7730000,150000,61378400,0,746417110,0,0,...,0,0,0,0,1679232,0,34190000,0,0,1.135527e+10
26,GBR,20000000,66561965,0,32858319,153009663,0,126258125,0,0,...,0,0,0,0,1621569436,0,139200000,0,0,7.432309e+10
35,ISR,0,0,0,2300000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.830578e+10
38,JPN,0,0,0,0,0,0,4700000,0,0,...,0,0,0,0,0,6200000,1801240,26300000,0,3.212807e+10
61,RUS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,255000000,0,0,0,0,1.311949e+10
72,USA,1307360000,925837915,0,1875618631,509112754,10000,849981880,90100000,2000000,...,200000,1300000,0,0,3924805616,500000,639727760,221153646,4500000,2.492236e+12

In [12]:
agg_df.to_csv("stacked_all.csv")
subset_df.to_csv("stacked_subsetted.csv")